arrow==1.2.3
attrs==23.1.0
binaryornot==0.4.4
blinker==1.6.2
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.2.0
cli-artifacts==1.6.2
cli-code-quality==1.0.4
cli-load-shedding==0.2.1
cli-performance==1.8.7
cli-plugin-test==1.0.25
cli-ratelimit==0.3.0
cli-sandbox==1.2.6
cli-scm==1.0.12
cli-services==1.16.0
click==8.1.6
click-plugins==1.1.1
click-spinner==0.1.10
code-quality-parser==1.0.2
cookiecutter==2.1.1
cryptography==41.0.2
Cython==0.29.36
dacite==1.8.1
decorator==5.1.1
docker-py==1.10.6
docker-pycreds==0.4.0
Flask==2.3.2
Flask-JWT==0.3.2
Flask-JWT-Extended==4.5.2
furycli==2.8.8
gitdb==4.0.10
GitPython==3.1.31
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jinja2-time==0.2.0
jsonpickle==3.0.1
jsonschema==3.2.0
MarkupSafe==2.1.3
numpy==1.25.1
oauthlib==3.2.2
pandas==2.0.3
pinject==0.14.1
portpicker==1.5.2
psutil==5.9.5
pycparser==2.21
PyJWT==1.4.2
pyperclip==1.8.2
pyrsistent==0.19.3
python-dateutil==2.8.2
python-slugify==8.0.1
pytz==2023.3
PyYAML==5.4
requests==2.31.0
semver==2.10.2
six==1.16.0
smmap==5.0.0
tabulate==0.9.0
text-unidecode==1.3
tiger-python-helper==0.7.5
tqdm==4.65.0
tzdata==2023.3
urllib3==2.0.3
websocket-client==1.6.1
Werkzeug==2.3.6
